.select {
  padding: 5px 15px;
  background: hsl(230.77deg 91.55% 13.92%);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.car img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.car img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
